ul {
  margin-left: 20%;
}
.content-box__grid-main-content {
  grid-template-columns: auto auto auto;
}
.title-string {
  font-size: xx-large;
  opacity: 0;
}
.my-name {
  opacity: 0;
  font-size: xx-large;
}
.grid-main-content__i-like,
.grid-main-content__i-develop-in{
  margin-top: 20%;
}
.grid-main-content__i-like p,
.grid-main-content__i-develop-in p {
  opacity: 0;
}
.i-develop-in__content > .boxs,
.i-like__skills-content > .boxs {
  position: relative;
}
.i-develop-in__content__item,
.skills-content__box__item {
  position: absolute;
  height: 60px;
  width: 95%;
  text-align: center;
  background-color: white;
}
.i-develop-in__content__item > .content,
.skills-content__box__item > .content {
  position: absolute;
}
.i-develop-in__content__item img,
.i-develop-in__content__item p,
.skills-content__box__item p {
  vertical-align: middle;
}
.i-develop-in__content__item img {
  height: 60px;
  width: 60px;
  opacity: 0;
}
.content-box a {
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.content-box a:hover {
  color: rgb(91, 91, 91);
}
