<div class="contect-box">
  <div class="grid grid-main-content">
    <div class="text-center about-skills">
      <div>
        <p class="title-string">I like</p>
        <div class="skills-content">
          <div class="boxs" [style.height]="iLike().length*80 + (iLike().length-1)*20 + 'px'">
            <div *ngFor="let item of iLike(); index as i" id="skills-content-item-{{i}}" class="item center-horizontal">
              <div class="content center">
                <p>{{item}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <p class="my-name">Hello!</p>
      <p class="my-name">My name is Dmytro. I'm {{age}}.</p>
      <p class="my-name">I live in <a href="https://www.google.com/maps/place/Kharkiv">Kharkiv</a>.</p>
    </div>
    <div class="text-center about-skills">
      <div>
        <p class="title-string">I develop in</p>
        <div class="develop-content">
          <div class="boxs" [style.height]="devList().length*80 + (devList().length-1)*20 + 'px'">
            <div *ngFor="let item of devList(); index as i" id="develop-content-item-{{i}}"
              class="item center-horizontal">
              <div class="content center">
                <img src="{{item.img}}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
