.content {
  margin: 50px;
  display: inline-block;
  position: relative;
}
.description__box,
.content__box{
  top: 0;
}
.content__box span {
  font-weight: 500;
}
.content__box:hover {
  opacity: 0.5;
  cursor: pointer;
}
.content__description {
  margin-top: 10px;
  z-index: 300;
  width: 225px;
  position: fixed;
  display: inline-block;
  opacity: 0;
}
.description__box {
  border-radius: 5px;
  border: 1px solid black;
}
.description__box p {
  text-align: center;
}
