p.title {
  font-size: xx-large;
}
.main-content {
  margin-top: 3%;
  display: grid;
  grid-template-columns: 25% 75%;
  height: 85%;
}
.about-project,
.projects-list {
  position: relative;
  border: 1px solid rgb(0, 179, 255);
  border-radius: 5px;
}
.about-project > div {
  height: 100%;
  width: 100%;
}
iframe {
  width: 100%;
  height: 85%;
  border: none;
}
.about-project > div > .description {
  padding: 5px;
}
