.selected {
  border-bottom: 3px solid black;
}
.show {
  display: block;
}
.hide {
  display: none;
}
button {
  background: none;
  border: none;
  box-shadow: none;
  padding: 5px;
  border-radius: 0;
  background-color: white;
}
.content {
  border-radius: 5px;
}
.content:hover {
  opacity: 0.4;
}
img {
  text-align: center;
  width: 65px;
  height: 65px;
}
.box {
  display: inline-block;
  border-radius: 5px;
  height: 100px;
}
.content *:hover {
  cursor: pointer;
}
.tip {
  text-align: center;
}
