.item {
  margin-bottom: 5px;
  color: white;
  background-color: rgb(8, 77, 137);
  border-radius: 5px;
  cursor: pointer;
}
.item__title,
.item__description{
  padding: 5px;
}
.item__title {
  font-size: x-large;
}
