<div class="content-box">
  <div class="center-horizontal top-25">
    <div class="border">
      <img src="./assets/imgs/donation_alerts.png">
      <a class="center" href="">Donation</a>
    </div>
    <div class="greed border bit">
      <img class="content" src="./assets/imgs/icons8-bitcoin-144.png">
      <input type="text" class="content" [value]="bitKey" disabled>
      <div class="click" (click)="copyBit()">
        <span class="center">Copied!</span>
      </div>
    </div>
    <p class="end">❤️</p>
  </div>
</div>
