<div class="content-box">
  <div class="center-horizontal top-25">
    <div class="border">
      <a href="https://www.buymeacoffee.com/vodacode">
      <img class="big" src="https://www.buymeacoffee.com/assets/img/custom_images/orange_img.png">
    </a>
    </div>
    <div class="greed border bit">
      <img class="content" src="./assets/imgs/icons8-bitcoin-144.png">
      <input type="text" class="content" [value]="bitKey" disabled>
      <div class="click" (click)="copyBit()">
        <span class="center">Copied!</span>
      </div>
    </div>
    <p class="end">❤️</p>
  </div>
</div>
